*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.flex-direction{
    flex-direction:column;
}

.btn{
    border-radius: 20px;
    border: none;
    padding: .55rem;
}

.btn-blue{
    background-color: #0084fd;
}

.between{
    justify-content: space-between;
}

.bg-color-lightblue{
    background-color: #b5ddff;
}

.txt-white{
    color: white;
}

.txt-lightblue{
    color: #0084fd;
}

.txt-black{
    color: #38434d;
}

.txt-center{
    text-align: center;
}

.txt-large{
    font-size: 2rem;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.container{
    max-width: calc(100% - 80px);
    margin: 0 auto;
}

header{
    background-color: #0084fd;
    width: 100vw;
}

nav{
    padding: 1rem 0;
    color: white;
}

nav ul.responsive-desktop{
    display: none;
    list-style-type: none;
}

ul.responsive-desktop li{
    margin-right: 1.5rem;
}

section.description{
    padding: 2rem 0;
}

.col.big{
    flex-direction: column;
}

.col{
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 2rem;
}

.upper{
    margin-bottom: 1rem;
}

.upper p{
    margin: 2rem 0;
}

.down{
    justify-content: center;
}

.down img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

i.txt-lightblue{
    font-size: 100px;
    margin-bottom: 1rem;
}

section.strategic{
    background-color: #968ae0;
}

section.strategic .upper{
    margin-top: 3rem;
}

section.strategic .upper img{
    width: 100%;
    height: 92%;
    object-fit: contain;
}

section.strategic .down{
    background-color: white;
    border-radius: 3rem;
    padding: 1rem;
}

.down p{
    margin:2rem 0;
}

.down .btn-violet{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #968ae0;
}

.btn-violet i{
    font-size: 1rem;
}

/* TABLET RESPONSIV */

@media screen and (min-width:480px){
    .container{
        max-width:calc(100% - 80px) ;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .flex-direction{
        flex-direction: row;
    }

    .col.big{
        width: calc((100% / 3 * 2) - 5px);
    }

    .col{
        width: calc(100% / 3 - .88rem);
    }

    section.strategic .col{
        width: 100%;
    }

    .down{
        justify-content: start;
    }

    .down img{
        width: 200px;
    }

    .btn-blue{
        padding: .55rem 4rem;
    }
}


/* Desktop RESPONSIV */
@media screen and (min-width:770px){
    .container{
        max-width:1240px;
        margin: 0 auto;
    }

    .col.big{
        flex-direction: row;
    }

    .upper.big,
    .down.big
    {
        width:50% ;
    }

    .down.big img{
        width: 100%;
    }

    nav ul.responsive-desktop{
        display: flex;
    }

    nav i.fa-solid.fa-bars{
        display: none;
    }
}